<h3>Your most popular foods:</h3>

<div class="card">
  <div class="card-body">
    <ul class="foods list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Name:
        <span>
          # days eaten:
        </span>
      </li>
    </ul>
  </div>
</div>

<script type="text/javascript">
$(function() {
  getFoods(<%= @id %>);
});
</script>
