<div class="container">
  <h3>
    <span id="food-title"></span>
    <span class="badge">
      <button id="js-next" data-user="<%= @id %>" data-food="<%= @food.id %>">next food -></button>
    </span>
  </h3>
  <div class="days"></div>
</div>

<script type="text/javascript">
$(function() {
  const user_id = $("button#js-next").data("user");
  let food_id = $("button#js-next").data("food");
  getFoodDays(user_id, food_id);
  // inside getFoodDays, the value of food.id in the button gets incremented
  $("button#js-next").on('click', function() {
    food_id += 1;
    getFoodDays(user_id, food_id);
  })
});
</script>
